@import '_cxcVariables.scss';
@import '_colours.scss';
@import '_mixins.scss';

input[type=range] {
  width:300px;
}

ul[rn-carousel] {
  overflow:hidden;
  padding:0;
  white-space: nowrap;
  position: relative;
  perspective:1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  > li {
    color:black;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position:absolute;
    left:0;
    right:0;
    white-space: normal;
    padding:0;
    margin:0;
    list-style-type:none;
    width:100%;

    //height:$mobileBannerHeight;
    height: 100%;

    display:inline-block;

    margin-left: 0; 
    margin-right: 0;

    @include bp-ipadlandscape{
        height: $ipadBannerHeight;
    }   
    @include bp-ipad{
        height: $ipadBannerHeight;
    }    
    @include bp-iphone5portrait{
        height: $iphone5BannerHeight;
    }
    @include bp-iphone5landscape{
        height: $iphone5LandscapeBannerHeight;
    }
    @include bp-iphone6portrait{
        height: $iphone6BannerHeight;
    }
    @include bp-iphone6landscape{
        height: $iphone6LandscapeBannerHeight;
    }

    @include bp-s3galaxylandscape{
        height: $iphone5LandscapeBannerHeight;
    }
    @include bp-s3galaxyportrait{
        height: $iphone5BannerHeight;
    }
    @include bp-s4galaxylandscape{
        height: $iphone6LandscapeBannerHeight;
    }
    @include bp-s4galaxyportrait{
        height: $iphone6BannerHeight;
    }

    @include bp-desktop{
        //height: $bannerHeight;
        height: 100%;
    }
  }
}

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display:none;
}

ul[rn-carousel-transition="hexagon"] {
  overflow:visible;
}

/* indicators */
div.rn-carousel-indicator span {
  cursor:pointer;
  color: #666;
  &.active {
    color: white
  }
}

/* prev/next controls */
.rn-carousel-control {
  transition: opacity 0.2s ease-out;
  font-size: 1.5rem;
  position: absolute;
  top: 33%;
  opacity: 0.75;
  cursor: pointer;
  color: $mustard-orange; 
  &:hover {
    opacity: 1;
  }

  @include bp-desktop{
      font-size: 3.5em;
      top: 35%;
  }

  &.rn-carousel-control-prev {
    left: 0.5em;
    &:before {
      content: "<";
    }
  }

  &.rn-carousel-control-next {
    right: 0.5em;
    &:before {
      content: ">";
    }
  }
}
