@import '_mixins.scss';
@import '_cxcVariables.scss';
@import '_colours.scss';

.carousel-wrapper{
    position: relative;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0;
}

.banner-container{
    position: relative;
    //height: $cardHeight/4*3;
    height: $cardHeight/5*4;
    @include bp-desktop{  
        padding-left:0.4rem;
        padding-right:0.5rem;
        margin-bottom: 0;
        margin-top: 0
    }     
    //margin-bottom: 0.5em;
}

.cxc-banner{
    position: relative;
    width:100%; 
    height: 100%;
    /*background-size: cover;
    background-position:center left;*/ 
    color: $white;
    &:hover{
        img{
            @include filter(grayscale, 0); 
        }          
    }
    img{
        position:absolute;
        width:100%; 
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top left;
        object-position: top left;  
        @include transition(all, 0.5s, ease-in-out);
        @include filter(grayscale, 100%);      
    }
}

.banner-copy{
    position:absolute;
    width: 100%;
    height: $cardHeight/4*3;
    right: .5rem;
    z-index: 1;
    text-align: left;
    h1{
        font-size: 3em;
        margin-bottom: 0;    
        width: 90%;
        margin-top: $padding*5;
        padding: 0 $padding*10;
    }
    p{
        margin: 0;
        padding: 0 $padding*10;
    }
    @include bp-desktop{   
        width: 60%;
    } 
}

.banner-overlay{
    position: absolute;
    height: $cardHeight/5*4;
    width: 100%;
    right: -$padding*2.5;
    opacity: 0.5;
    z-index: -1;
    background-color: black;
}

.cxc-banner-title{
    text-transform: uppercase; 
}