@import '_mixins.scss';
@import '_cxcVariables.scss';
@import '_colours.scss';

.image-column{
    padding: 0;
}

.box-container {
    box-sizing: border-box;
    padding: .5rem;
}

.cxc-card{
    height: $cardHeight;
    padding: 0;
    margin-bottom: 3.5%;
    img{
        width:100%; 
        height: 100%;
        object-fit: cover;
        @include transition(all, 0.5s, ease-in-out);
        @include filter(grayscale, 100%);        
    }
    &:hover{
        img{
            @include filter(grayscale, 0);
        }    
    }

    @include bp-small{
        //margin-left: 6.3%;
        /*@include translate(-50%, 0);
        width: 100%;*/
    }
}

.card-inner{    
    position: relative;
    height: 100%;
    background-color: $white; 
    margin-left: 4px;  
    margin-right: 4px; 
    padding-bottom: 20px;
}

.cxc-content-image{
    height: 200px; 
    overflow: hidden;
}

.content-copy{
    position: absolute;
    bottom: 0;
    background: $white;
    border-top: 3px solid $mustard-orange; 
    padding: 2%;
    min-height: 100px;
    p{
        font-size: 0.8em;
    }
}


.cxc-content-title{
    h5{
        padding: 0;
        margin: 0; 
    }
}

.cxc-content-excerpt{
    font-size: 0.8em;
    height: 100px;
    overflow: hidden;
}