@import '_mixins.scss';
@import '_cxcVariables.scss';
@import '_colours.scss';

.carousel-wrapper{
    position: relative;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0.2rem;
    //width: 99.5%;
    padding-bottom: $bannerHeight; //THIS DETERMINES THE IMAGE ASPECT RATION. WIDTH: 100% ==> PADDING_BOTTOM: ?

    @include bp-ipadlandscape{
        padding-bottom: 28%;
    }   
    @include bp-ipad{
        padding-bottom: 38%;
    }   
    @include bp-iphone5portrait{
        padding-bottom: 40%;
    }
    @include bp-iphone5landscape{
        padding-bottom: 35%;
    }
    @include bp-iphone6portrait{
        padding-bottom: 40%;
    }
    @include bp-iphone6landscape{
        //margin-bottom: $iphone6LandscapeBannerHeight*2.25;
        padding-bottom: 35%;
    }

    @include bp-s3galaxylandscape{
        padding-bottom: 30%;
    }
    @include bp-s3galaxyportrait{
        padding-bottom: 40%;
    }
    @include bp-s4galaxylandscape{
        padding-bottom: 30%;
    }
    @include bp-s4galaxyportrait{
        padding-bottom: 40%;
    }

    @include bp-large{
        padding-right: 0.7rem;
        padding-left: 0.7rem; 
        //padding-bottom: 0;
        //height: $bannerHeight;
    }
    @include bp-ipadlandscape{
        padding-right: 0.7rem;
        padding-left: 0.7rem; 
    }

    @include bp-iphone{
        padding-right: 0.2rem;
        padding-left: 0.2rem; 
    }
}

.absolute-inner{
    position: absolute;
    height:100%;
    left: 0.7rem;
    right:0.7rem;

    @include bp-desktop{
        left: initial;
        right: initial; 
        width:98.5%;  
    }
}

.banner-container{
    position: relative;
    height: $mobileBannerHeight;

    @include bp-ipadlandscape{
        height: $ipadBannerHeight;
    }   
    @include bp-ipad{
        height: $ipadBannerHeight;
    }
    
    @include bp-iphone5portrait{
        height: $iphone5BannerHeight;
    }
    @include bp-iphone5landscape{
        height: $iphone5LandscapeBannerHeight;
    }
    @include bp-iphone6portrait{
        height: $iphone6BannerHeight;
    }
    @include bp-iphone6landscape{
        height: $iphone6LandscapeBannerHeight;
    }
    
    @include bp-s3galaxylandscape{
        height: $iphone5LandscapeBannerHeight;
    }
    @include bp-s3galaxyportrait{
        height: $iphone5BannerHeight;
    }
    @include bp-s4galaxylandscape{
        height: $iphone6LandscapeBannerHeight;
    }
    @include bp-s4galaxyportrait{
        height: $iphone6BannerHeight;
    }

    @include bp-desktop{  
        //height: $bannerHeight;
        height: 100%;
        padding-left:0.4rem;
        padding-right:0.5rem;
        margin-bottom: 0;
        margin-top: 0
    }     
    
}

.mobile-banner-container-expand{
    height: $mobileBannerHeight*3.5;

    @include bp-ipadlandscape{
        height: $ipadBannerHeight*5;
    }   
    @include bp-ipad{
        height: $ipadBannerHeight*4.25;
    }   
    @include bp-iphone5portrait{
        height: $iphone5BannerHeight*3;
    }
    @include bp-iphone5landscape{
        height: $iphone5LandscapeBannerHeight*1.25;
    }
    @include bp-iphone6portrait{
        height: $iphone6BannerHeight*3.5;
    }
    @include bp-iphone6landscape{
        height: $iphone6LandscapeBannerHeight*2.25;
    }

    @include bp-s3galaxylandscape{
        height: $iphone5LandscapeBannerHeight*3.5;
    }
    @include bp-s3galaxyportrait{
        height: $iphone5BannerHeight*3.35;
    }
    @include bp-s4galaxylandscape{
        height: $iphone5LandscapeBannerHeight*3.5;
    }
    @include bp-s4galaxyportrait{
        height: $iphone5BannerHeight*3.35;
    }
}

.mobile-carousel-expand{
    margin-bottom: $mobileBannerHeight*3.5;

    @include bp-ipadlandscape{
        margin-bottom: $ipadBannerHeight*5;
    }   
    @include bp-ipad{
        margin-bottom: 430px;
    }   
    @include bp-iphone5portrait{
        margin-bottom: 185px;
    }
    @include bp-iphone5landscape{
        margin-bottom: 335px;
    }
    @include bp-iphone6portrait{
        margin-bottom: 195px;
    }
    @include bp-iphone6landscape{
        //margin-bottom: $iphone6LandscapeBannerHeight*2.25;
        margin-bottom: 368px;
    }

    @include bp-s3galaxylandscape{
        margin-bottom: 345px;
    }
    @include bp-s3galaxyportrait{
        margin-bottom: 190px;
    }
    @include bp-s4galaxylandscape{
        margin-bottom: 345px;
    }
    @include bp-s4galaxyportrait{
        margin-bottom: 190px;
    }
}

.cxc-banner{
    position: relative;
    width:100%; 
    height: 100%;
    margin-left: 0;
    /*background-size: cover;
    background-position:center left;*/ 
    color: $white;
    /*&:hover{
        img{
            @include filter(grayscale, 0); 
        }          
    }*/
    img{
        position:absolute;
        width:100%; 
        height: 100%;
        top:0;
        left: 0;
        /*-o-object-fit: cover;
        object-fit: cover;*/
        -o-object-position: top left;
        object-position: top left;  
        /*@include transition(all, 0.5s, ease-in-out);
        @include filter(grayscale, 100%);*/      
    }
}

.banner-copy{
    position:absolute;
    width: 50%;
    height: $cardHeight;
    right: 0;
    top:0;
    z-index: 1;
    text-align: right;
    h1{
        font-size: 1em;
        margin-bottom: 0;    
        width: 90%;
        margin-top: $padding*5;
        
        @include bp-ipadlandscape{
            font-size: 2em;
        }   
        @include bp-ipad{
            font-size: 2em;
        }   
        @include bp-iphone5portrait{
            font-size: 1em;
        }
        @include bp-iphone5landscape{
            font-size: 2em;
        }
        @include bp-iphone6portrait{
            font-size: 1em;
        }
        @include bp-iphone6landscape{
            font-size: 2em;
        }
        
        @include bp-s3galaxylandscape{
            font-size: 2em;
        }
        @include bp-s3galaxyportrait{
            font-size: 1em;
        }
        @include bp-s4galaxylandscape{
            font-size: 2em;
        }
        @include bp-s4galaxyportrait{
            font-size: 1em;
        }

        @include bp-desktop{
            font-size: 2em;
        }
    }
    p{
        margin: 0;
        padding: 0 $padding*10;
    }
    @include bp-desktop{   
        width: 50%;
        padding: 0 $padding*10;
        h1{
            font-size: 3em;
        }       
    } 
}

.banner-overlay{
    position: absolute;
    height: $bannerHeight/5*4;
    width: 100%;
    right: -$padding*2.5;
    opacity: 0.5;
    z-index: -1;
    background-color: black;
}

.cxc-banner-title{
    text-transform: uppercase; 
}

.banner-video{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: ($bannerHeight*16)/9;
    //width: 46.222%; //This sshould be future proofed with a sass function reading padding-bottom of banner
    z-index: 10;

    iframe{
        width:100%;
        height:100%; 
    }
}

.mobile-banner-video{
    width: 100%;
    position: relative;
    margin-top: $mobileBannerHeight + 16px;

    @include bp-ipadlandscape{
        margin-top: $ipadBannerHeight + 16px;
    }   
    @include bp-ipad{
        margin-top: $ipadBannerHeight + 16px;
    }    
    @include bp-iphone5portrait{
        margin-top: $iphone5BannerHeight + 16px;
    }
    @include bp-iphone5landscape{
        margin-top: $iphone5LandscapeBannerHeight + 16px;
    }
    @include bp-iphone6portrait{
        margin-top: $iphone6BannerHeight + 16px;
    }
    @include bp-iphone6landscape{
        margin-top: $iphone6LandscapeBannerHeight + 16px;
    }

    @include bp-s3galaxylandscape{
        margin-top: $iphone5LandscapeBannerHeight + 16px;
    }
    @include bp-s3galaxyportrait{
        margin-top: $iphone5BannerHeight + 16px;
    }
    @include bp-s4galaxylandscape{
        margin-top: $iphone6LandscapeBannerHeight + 16px;
    }
    @include bp-s4galaxyportrait{
        margin-top: $iphone6BannerHeight + 16px;
    }

    @include bp-desktop{
        margin-top: $cardHeight;
    }
    padding-bottom: 57%;

    .inner{
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width:100%;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    
}

.mobile-play-button{
    z-index:5;
}

.play-button-container{
    margin-top:20%;   
}