$true: 'true'; 
$false: null; 

$safariScrollHeight: 68px; 

$iphone4LandingHeight: 372px;
$iphone5LandingHeight: 460px;
//$iphone5LandingHeight: 100%; 
$iphone6LandingHeight: 559px;
$iphone6PlusLandingHeight: 628px; 

$iphone4ScrollHeight: $iphone4LandingHeight + $safariScrollHeight; 
$iphone5ScrollHeight: $iphone5LandingHeight + $safariScrollHeight; 
//$iphone5ScrollHeight: 100%; 
$iphone6ScrollHeight: $iphone6LandingHeight + $safariScrollHeight; 
$iphone6PlusScrollHeight: $iphone6PlusLandingHeight + $safariScrollHeight; 
