@import '_mixins.scss';
@import '_cxcVariables.scss';
@import '_colours.scss';

.social-feeds{
    height: $cardHeight*2 + 10px; 
    margin-top: $padding;
    background-color: $charcoal;
    right: $padding*12;
    width: 16.1rem;
    position: absolute;
    overflow: hidden;
    border-bottom: 3px solid $mustard-orange;

    span{
        display: block;
        width: 100%;
        height: 5%;
        margin-top: 3%;
        a{
            width: 50%;
            height: 100%;
            display: block;
            float:left;
            color: $charcoal;
            text-align: center; 
            background-color:  darken($charcoal, 20%);

            &:hover{
                background-color:  $mustard-yellow;
            }
        }
    }
}

.video-player{
    position: absolute;
    width: 3rem;
    height:1rem;
    background-color: $mustard-orange; 
    top: 1.15rem;
    z-index: 1000;
    left: -2rem;
    @include border-radius(1rem);
}

.video-expand{
    width: 100%;
    position: relative;
    right: 0.8rem;
}