/*Colours*/
/*Colours*/
/*@mixin bp-iphone6landscape {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : landscape) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}

@mixin bp-iphone6portrait {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}*/
/* Smartphones (landscape) ----------- 4 */
/* Smartphones (portrait) ----------- 4 */
/* Smartphones (portrait) ----------- 5 */
/* Smartphones (landscape) ----------- 5 */
/* Smartphones (portrait) ----------- 6 */
/* Smartphones (landscape) ----------- 6 */
/* Smartphones (portrait) ----------- 6+ */
/* Smartphones (landscape) ----------- 6+ */
/* Smartphones (portrait) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
input[type=range] {
  width: 300px; }

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  ul[rn-carousel] > li {
    color: black;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: inline-block; }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
div.rn-carousel-indicator span {
  cursor: pointer;
  color: #666; }
  div.rn-carousel-indicator span.active {
    color: white; }

/* prev/next controls */
.rn-carousel-control {
  transition: opacity 0.2s ease-out;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  opacity: 0.75;
  cursor: pointer; }
  .rn-carousel-control:hover {
    opacity: 1; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 0.5em; }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: "<"; }
  .rn-carousel-control.rn-carousel-control-next {
    right: 0.5em; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: ">"; }

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  height: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
  html a {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
    color: black; }
  html em {
    font-style: normal;
    color: #e5980a; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  overflow: hidden;
  /*Experiment*/
  xpadding-bottom: 10px;
  line-height: 1.428571429;
  color: black;
  background-color: #ededed;
    /*
	 * Relates to the pseudo class & sibling bug, see
	 * http://css-tricks.com/webkit-sibling-bug/ for more details
	 */
  -webkit-animation: bugfix infinite 1s;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body::-webkit-scrollbar {
  width: 0.5em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

/* Also relates to the pseudo class & sibling bug */
@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
/*Colours*/
/*Colours*/
/*@mixin bp-iphone6landscape {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : landscape) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}

@mixin bp-iphone6portrait {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}*/
/* Smartphones (landscape) ----------- 4 */
/* Smartphones (portrait) ----------- 4 */
/* Smartphones (portrait) ----------- 5 */
/* Smartphones (landscape) ----------- 5 */
/* Smartphones (portrait) ----------- 6 */
/* Smartphones (landscape) ----------- 6 */
/* Smartphones (portrait) ----------- 6+ */
/* Smartphones (landscape) ----------- 6+ */
/* Smartphones (portrait) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
.pure-img-responsive {
  max-width: 100%;
  height: auto; }

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  top: 25%;
  padding-left: 0; }
  @media only screen and (min-width: 1224px) {
    #layout {
      top: 25%; } }

#layout.active #menu {
  left: 65%;
  width: 65%; }
  @media only screen and (min-width: 1224px) {
    #layout.active #menu {
      left: 17.5%;
      width: 17.5%; } }

#layout.active .menu-link {
  left: 65%; }
  @media only screen and (min-width: 1224px) {
    #layout.active .menu-link {
      left: 17.5%; } }

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em; }

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee; }

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300; }

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0; }

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888; }

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
#menu {
  margin-left: -65%;
  /* "#menu" width */
  width: 65%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #ededed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  @media only screen and (min-width: 1224px) {
    #menu {
      margin-left: -17.5%;
      /* "#menu" width */
      width: 17.5%;
      top: 25%; } }

#menu::-webkit-scrollbar {
  width: 0.2em; }

#menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }

#menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

/*
All anchors inside the menu should be styled like this.
*/
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em; }

#menu li a {
  color: black;
  border: none;
  padding: 0.6em 0 0 0.6em; }

#menu li:last-child {
  padding-bottom: 0.6em; }

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent; }

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333; }

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #f6a915; }

a.active {
  background: #616161;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  opacity: 0.5; }

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
  width: 105%;
  background-color: #616161;
  -ms-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  -moz-box-shadow: 0 15px 17px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 17px 0px rgba(0, 0, 0, 0.3); }

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
  color: #fff; }

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0; }

#menu-wrapper {
  background-color: #e5980a;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 25%;
  margin-bottom: 25%;
  -ms-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px; }
  #menu-wrapper img#love-change-badge {
    position: absolute;
    width: 50%;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/
/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background-image: url("../images/Love-Change-badge.png");
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em; }

.menu-link:hover,
.menu-link:focus {
  background: #000; }

.menu-link span {
  position: relative;
  display: block; }

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em; }

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " "; }

.menu-link span:after {
  margin-top: 0.6em; }

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em; }

  #layout {
    padding-left: 65%;
    /* left col width "#menu" */
    left: 0; } }
  @media only screen and (min-width: 48em) and (min-width: 1224px) {
    #layout {
      padding-left: 17.5%;
      /* "#menu" width */ } }

@media (min-width: 48em) {
  #menu {
    left: 65%; } }
  @media only screen and (min-width: 48em) and (min-width: 1224px) {
    #menu {
      left: 17.5%; } }

@media (min-width: 48em) {
  .menu-link {
    position: fixed;
    left: 65%;
    /*display: none;*/ } }
  @media only screen and (min-width: 48em) and (min-width: 1224px) {
    .menu-link {
      display: none;
      left: 17.5%; } }

@media (min-width: 48em) {
  #layout.active .menu-link {
    left: 65%; } }
  @media only screen and (min-width: 48em) and (min-width: 1224px) {
    #layout.active .menu-link {
      left: 17.5%; } }

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  #layout.active {
    position: relative;
    left: 65%; } }
  @media only screen and (max-width: 48em) and (min-width: 1224px) {
    #layout.active {
      left: 17.5%; } }

/*Colours*/
/*@mixin bp-iphone6landscape {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : landscape) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}

@mixin bp-iphone6portrait {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}*/
/* Smartphones (landscape) ----------- 4 */
/* Smartphones (portrait) ----------- 4 */
/* Smartphones (portrait) ----------- 5 */
/* Smartphones (landscape) ----------- 5 */
/* Smartphones (portrait) ----------- 6 */
/* Smartphones (landscape) ----------- 6 */
/* Smartphones (portrait) ----------- 6+ */
/* Smartphones (landscape) ----------- 6+ */
/* Smartphones (portrait) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
/*Colours*/
.image-column {
  padding: 0; }

.box-container {
  /*box-sizing: border-box;
  padding: .2rem;*/ }

.box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  color: #fff; }

.negative-margin-top-2 {
  margin-top: -0.4rem; }

.reduced-padding {
  padding: 0.2rem; }

.cxc-card {
  height: 280px; }
  .cxc-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  .cxc-card:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0); }

@media only screen and (max-width: 30em) {
  .cxc-card,
  .col-xs,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-offset-1,
  .col-xs-offset-2,
  .col-xs-offset-3,
  .col-xs-offset-4,
  .col-xs-offset-5,
  .col-xs-offset-6,
  .col-xs-offset-7,
  .col-xs-offset-8,
  .col-xs-offset-9,
  .col-xs-offset-10,
  .col-xs-offset-11,
  .col-xs-offset-12 {
    padding-left: 0;
    padding-right: 0; } }
.cxc-content-image {
  min-height: 200px;
  overflow: hidden; }

.content-copy {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: white;
  border-top: 3px solid #e5980a;
  min-height: 60px; }
  .content-copy p {
    font-size: 0.8em; }

.cxc-content-title h5 {
  padding: 0;
  margin: 0; }

.cxc-content-excerpt {
  font-size: 0.8em;
  height: 100px;
  overflow: hidden; }

.excerpt {
  padding-left: 0.2rem;
  padding-right: 0.2rem; }

/*Colours*/
/*@mixin bp-iphone6landscape {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : landscape) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}

@mixin bp-iphone6portrait {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}*/
/* Smartphones (landscape) ----------- 4 */
/* Smartphones (portrait) ----------- 4 */
/* Smartphones (portrait) ----------- 5 */
/* Smartphones (landscape) ----------- 5 */
/* Smartphones (portrait) ----------- 6 */
/* Smartphones (landscape) ----------- 6 */
/* Smartphones (portrait) ----------- 6+ */
/* Smartphones (landscape) ----------- 6+ */
/* Smartphones (portrait) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
/*Colours*/
.social-feeds {
  height: 560px;
  background-color: #616161; }
  .social-feeds span {
    display: block;
    width: 100%;
    height: 5%;
    margin-top: 3%; }
    .social-feeds span a {
      width: 50%;
      height: 100%;
      display: block;
      float: left;
      color: #616161;
      text-align: center;
      background-color: #2e2e2e; }
      .social-feeds span a:hover {
        background-color: #f6a915; }

/*Colours*/
/*@mixin bp-iphone6landscape {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : landscape) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}

@mixin bp-iphone6portrait {
    @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) 
        and (-webkit-min-device-pixel-ratio : 2)
    { 
        @content;
    }
}*/
/* Smartphones (landscape) ----------- 4 */
/* Smartphones (portrait) ----------- 4 */
/* Smartphones (portrait) ----------- 5 */
/* Smartphones (landscape) ----------- 5 */
/* Smartphones (portrait) ----------- 6 */
/* Smartphones (landscape) ----------- 6 */
/* Smartphones (portrait) ----------- 6+ */
/* Smartphones (landscape) ----------- 6+ */
/* Smartphones (portrait) ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
/*Colours*/
.carousel-wrapper {
  position: relative;
  padding-top: 0; }

.banner-container {
  position: relative;
  height: 210px; }
  @media only screen and (min-width: 1224px) {
    .banner-container {
      padding-left: 0.4rem;
      padding-right: 0.5rem;
      margin-bottom: 0;
      margin-top: 0; } }

.cxc-banner {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-size: cover;
  background-position:center left;*/
  color: white; }
  .cxc-banner:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0); }
  .cxc-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top left;
    object-position: top left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }

.banner-copy {
  position: absolute;
  width: 100%;
  height: 210px;
  right: .5rem;
  z-index: 1; }
  .banner-copy h1 {
    font-size: 3em;
    margin-bottom: 0;
    width: 90%;
    padding: 0.2rem; }
  @media only screen and (min-width: 1224px) {
    .banner-copy {
      width: 60%; } }

.banner-overlay {
  position: absolute;
  height: 210px;
  width: 100%;
  right: -0.5rem;
  opacity: 0.5;
  z-index: -1;
  background-color: black; }

.cxc-banner-title {
  text-transform: uppercase; }

.desktoponly {
  display: none; }
  @media only screen and (min-width: 1224px) {
    .desktoponly {
      display: block; } }

.mobileonly {
  display: block; }
  @media only screen and (min-width: 1224px) {
    .mobileonly {
      display: none; } }

header {
  position: fixed;
  width: 100%;
  height: 12.5%;
  top: 0;
  background-color: #ededed;
  z-index: 1; }
  @media only screen and (min-width: 1224px) {
    header {
      height: 25%; } }
  header h4 {
    display: none; }
    @media only screen and (min-width: 1224px) {
      header h4 {
        display: block;
        position: absolute;
        width: 45%;
        margin: 0;
        margin-left: 5%;
        bottom: 8%; } }
  header select.change-moment-select {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 80%;
    height: 40%;
    top: 64%;
    background-color: #e5980a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none; }
    @media only screen and (min-width: 1224px) {
      header select.change-moment-select {
        width: 25%;
        height: 18%;
        top: 30%; } }
  header figure {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5%; }
    header figure img {
      width: 100%; }
    header figure.header-image-left {
      width: 65%;
      left: 15%; }
      @media only screen and (min-width: 1224px) {
        header figure.header-image-left {
          width: 25%;
          left: 0; } }
    header figure.header-image-right {
      display: none; }
      @media only screen and (min-width: 1224px) {
        header figure.header-image-right {
          display: block;
          right: 1%;
          width: 12.5%; } }

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-fluid {
  margin-right: 0;
  margin-left: 0; }

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.page-section {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3rem; }
  .page-section .row {
    margin-left: 0;
    margin-right: 0; }

@media only screen and (min-width: 1224px) {
  .cxc-content-wrap {
    margin-top: 12.5%; } }
.cxc-content-wrap #more-button {
  position: absolute;
  right: 5px;
  bottom: 5px; }

/*# sourceMappingURL=site.css.map */
