<!DOCTYPE html>
<html lang="en" data-ng-app="cxcApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="description" content="Its an asking, learning, sharing, changing space - packed with tips and tools to help you through, and even love, your life's greatest Change Moments">
    
    <base href="/">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" />-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="content/css/site.min.css" rel="stylesheet" />
    <!-- <link href="content/css/site.css" rel="stylesheet" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>Change Exchange</title>

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@BrightRockZA" />
    <meta property="twitter:title" content="The Change Exchange" />
    <meta property="twitter:description" content="It's an asking, learning,sharing, changing space - packed with tips and tools to help you through, and even love, your life's greatest Change Moments" />
    <meta property="twitter:type" content="website" />
    <meta property="twitter:url" content="https://changeexchange.co.za/" />
    <meta property="twitter:image" content="https://www.changeexchange.co.za/content/images/Change%20Exchange%20Logo.png" />

    <meta property="og:title" content="The Change Exchange" />
    <meta property="fb:app_id" content="1408756689402511" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://changeexchange.co.za/" />  
    <meta property="og:image" content="https://www.changeexchange.co.za/content/images/Change%20Exchange%20Logo.png" />
    <meta property="og:image:secure_url" content="https://www.changeexchange.co.za/content/images/Change%20Exchange%20Logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="651" />
    <meta property="og:image:height" content="210" />

    <meta property="og:description" content="It's an asking, learning,sharing, changing space - packed with tips and tools to help you through, and even love, your life's greatest Change Moments" />
    <meta property="og:determiner" content="The" />
    <meta property="og:site_name" content="Change Exchange" />

    <meta property="og:video" content="http://www.youtube.com/watch?v=EejJ17C27C4" />
    <meta property="og:video:secure_url" content="https://www.youtube.com/watch?v=EejJ17C27C4" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="400" />
    <meta property="og:video:height" content="300" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
</head>
<body class="layout">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=481757868679120";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="cxc-content-wrap" data-ng-controller="indexController" ng-class="{'cxc-content-wrap-scrolled':scroll}">
        <header ng-hide="scroll > 0" class="desktoponly header-one">
            <figure class="header-image-left">
                <img data-ng-click="contentState.selectedMoment({name : 'What change moment are you going through?'}, true)" src="content/images/Change Exchange Logo.png" alt="ChangeExchange logo" />
            </figure>
            <select class="change-moment-select" data-ng-model="contentState.chosenMoment.name" data-ng-change="contentState.selectedMoment(contentState.chosenMoment, false)">
                <option ng-repeat="moment in contentState.changeMoments" ng-show="$index > 0" value="{{moment.name}}">{{moment.name}}</option>
            </select>
            <figure class="header-image-right">
                <a href="https://www.brightrock.co.za/" target="_blank"><img src="content/images/BrightRock-Slab.png" alt="BrightRock logo" /></a>
            </figure>
            <h3>It's an <em>asking</em>, learning, <em>sharing</em>, changing space - packed with <em>tips</em> and tools to help you through, and even love, your <em>life's greatest Change Moments</em></h3>
        </header>
        <header ng-show="scroll" class="desktoponly header-three">
            <figure class="header-image-left">
                <img data-ng-click="contentState.selectedMoment({name : 'What change moment are you going through?'}, true)" src="content/images/cxclogo-sansbubble.png" alt="ChangeExchange Logo" />
            </figure>
            <select class="change-moment-select" data-ng-model="contentState.chosenMoment.name" data-ng-change="contentState.selectedMoment(contentState.chosenMoment, false)">
                <option ng-repeat="moment in contentState.changeMoments" ng-show="$index > 0" value="{{moment.name}}">{{moment.name}}</option>
            </select>
            <figure class="header-image-right">
                <a href="https://www.brightrock.co.za/" target="_blank"><img src="content/images/BrightRock-Slab.png" alt="BrightRock logo" /></a>
            </figure>
        </header>

        <div id="layout" data-ng-class="{'active': contentState.data.menuActive}" scroll-position="scroll">
            <a id="menuLink" class="menu-link" data-ng-click="toggleMenu()" data-ng-class="{'active': contentState.data.menuActive}">
                <!-- Hamburger icon -->
                <span></span>
            </a>
            <div id="menu" data-ng-class="{'active': contentState.data.menuActive, 'minimalHeader' : scroll}" ng-hide="errorState.data.ajaxErrors.length">
                <!---->
                <div class="pure-menu">
                    <div id="menu-wrapper">
                        <a class="pure-menu-heading" data-ng-click="contentState.selectedMoment({name : 'What change moment are you going through?'}, false)">Change Moments</a>
                        <ul class="pure-menu-list">
                            <img class="drop-shadow" src="content/images/dropshadow.PNG" />
                            <!--<li data-ng-cloak class="pure-menu-item"><a data-ng-click="contentState.selectedMoment({name : 'What change moment are you going through?'}, true)" class="pure-menu-link">All Change Moments</a></li>-->
                            <li data-ng-cloak class="pure-menu-item" data-ng-class="{ 'active': moment.active }" data-ng-repeat="moment in contentState.changeMoments" ng-if="$index > 0"><a data-ng-click="contentState.selectedMoment(moment, false)" class="pure-menu-link">{{moment.name}}</a></li>
                        </ul>
                        <a class="pure-menu-heading">Exchange</a>
                        <ul class="pure-menu-list">
                            <img class="drop-shadow" src="content/images/dropshadow.PNG" alt="dropshadow" />
                            <!--HTML5 MODE -->

                            <li data-ng-cloak class="pure-menu-item" data-ng-repeat="cat in exchangeCategories | orderBy:'description'"><a data-ng-click="contentState.selectedMoment(cat, true, true)" class="pure-menu-link" title="{{cat.description}}">{{cat.name}}</a></li>
                            <li class="pure-menu-item"><a ng-href="/galleries" class="pure-menu-link" title="Galleries">Galleries</a></li>
                            <li data-ng-cloak class="pure-menu-item"><a data-ng-click="contentState.selectedMoment({name : 'Authors'}, false, true)" title="Meet our wonderful writers" class=" pure-menu-link">Meet the Change Agents</a></li>
                            <li class="pure-menu-item"><a href="/exchange/about" class="pure-menu-link" title="Get to know the Change Exchange!">About</a></li>
                        </ul>
                        <a class="pure-menu-heading pure-menu-secondary-heading" ng-click="flashback = !flashback" title="Old Content">Flashbacks</a>
                        <ul class="pure-menu-list pure-menu-secondary-list" ng-show="flashback">
                            <li data-ng-cloak class="pure-menu-item" data-ng-repeat="cat in flashbackCategories | orderBy:'description'"><a data-ng-click="contentState.selectedMoment(cat, true)" title="{{cat.description}}" class="pure-menu-link">{{cat.name}}</a></li>
                        </ul>
                        <img id="love-change-badge" src="content/images/Love-Change-badge.png" alt="Love Change button" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="header mobile-header mobileonly">
                    <figure>
                        <img src="content/images/cxclogo-sansbubble.png" alt="ChangeExchange logo"/>
                    </figure>
                    <select class="mobile-change-moment-select" data-ng-model="contentState.chosenMoment.name" data-ng-change="contentState.selectedMoment(contentState.chosenMoment, false)">
                        <option ng-repeat="moment in contentState.changeMoments" ng-show="$index > 0" value="{{moment.name}}">{{moment.name}}</option>
                    </select>
                </div>
                <div ng-hide="contentState.data.galleryViewing" class="social-button-box mobileonly">
                    <div data-ng-repeat="sn in socialState.data.socialNetworks" class="social-buttons">
                        <i ng-click="socialState.changeSm(sn.id, sn.abbrev)" data-ng-class="sn.active ? '{{sn.class}} sn-active' : '{{sn.class}}'"></i>
                    </div>
                </div>
                <div class="wrap">
                    <section class="page-section" ng-hide="errorState.data.ajaxErrors.length">
                        
                        <!--REGULAR BANNER -->
                        <div ng-hide="contentState.data.videobanners.length && !contentState.data.showSpecificBanners" class="row reduced-padding carousel-wrapper" ng-class="{'mobile-carousel-expand': contentState.data.mobileBannerVideoPlay}">
                            <div class="absolute-inner">
                                <ul ng-class="{'mobile-banner-container-expand': contentState.data.mobileBannerVideoPlay}" rn-carousel rn-carousel-controls rn-carousel-index="contentState.data.bannerIndex" class=" banner-container col-lg-12 col-xs-12">
                                    <li data-ng-repeat="banner in contentState.data.banners">
                                        <cxc-banner cxcbannercontent="banner"></cxc-banner>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--END REGULAR BANNER-->

                        <!--NEW VIDEO BANNER-->
                        <!--<div ng-if="contentState.data.videobanners.length" ng-show="contentState.data.videobanners.length" class="row reduced-padding video-carousel-wrapper" ng-class="{'mobile-carousel-expand': contentState.data.mobileBannerVideoPlay}">-->
                            <div ng-hide="contentState.data.showSpecificBanners">    
                                <cxc-video-banner class="desktoponly" ng-if="contentState.data.videobanners.length" singular='false' cxcvideobannercontent="contentState.data.videobanners[0]"></cxc-video-banner>
                                <cxc-video-banner class="mobileonly" ng-if="contentState.data.videobanners.length" singular='true' cxcvideobannercontent="contentState.data.videobanners[0]"></cxc-video-banner>
                            </div>
                        <!--</div>-->
                        <!--END NEW VIDEO BANNER-->

                        <div ng-hide="contentState.data.galleryViewing" class="row reduced-padding sidebar-right desktoponly">

                            <!--Experiment-->
                            <div ng-hide="contentState.data.galleryViewing" class="social-button-box">
                                <div data-ng-repeat="sn in socialState.data.socialNetworks" class="social-buttons">
                                    <i ng-click="socialState.changeSm(sn.id, sn.abbrev)" data-ng-class="sn.active ? '{{sn.class}} sn-active' : '{{sn.class}}'"></i>
                                </div>
                            </div>

                            <div data-ng-class="socialState.data.videoPlayer ? 'col-lg-12 col-xs-12' : 'col-lg-3 col-xs-12'">
                                <div data-ng-class="socialState.data.videoPlayer ? 'video-expand social-feeds col-lg-12 col-xs-12 box reduced-padding' : 'social-feeds col-lg-12 col-xs-12 box reduced-padding'">
                                    <div data-ng-class="{'fb-events': socialState.data.fbevents }" data-ng-show="socialState.data.currentSm == 'fb'">
                                        <div class="fb-page"
                                             data-href="https://www.facebook.com/BrightRockZA"
                                             data-tabs="timeline"
                                             data-height="570"
                                             data-width="500"
                                             data-small-header="true"
                                             data-adapt-container-width="true"
                                             data-hide-cover="false"
                                             data-show-facepile="true">
                                            <div class="fb-xfbml-parse-ignore">
                                                <blockquote cite="https://www.facebook.com/BrightRockZA">
                                                    <a href="https://www.facebook.com/BrightRockZA">BrightRockZA</a>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <!--<div class="fb-page"
                                         data-href="https://www.facebook.com/BrightRockZA"
                                         data-tabs="events"
                                         data-height="570"
                                         data-width="345"
                                         data-small-header="true"
                                         data-adapt-container-width="true"
                                         data-hide-cover="false"
                                         data-show-facepile="true">
                                        <div class="fb-xfbml-parse-ignore">
                                            <blockquote cite="https://www.facebook.com/BrightRockZA">
                                                <a href="https://www.facebook.com/BrightRockZA">BrightRockZA EVENTS</a>
                                            </blockquote>
                                        </div> 
                                    </div>-->
                                    </div>
                                    <div class="" data-ng-show="socialState.data.currentSm == 'tw'">
                                        <twitter-stream></twitter-stream>
                                    </div>
                                    <div data-ng-show="socialState.data.currentSm == 'yt'">
                                        <iframe width="100%" height="560" src="https://www.youtube.com/embed/videoseries?list=PLSjBl-wReCAH4tXzuKB3faUY5pYGqQwEj" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div scroll-event scroll="scroll" data-ng-view="" autoscroll="">

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- 3RD PARTY libraries -->
    <!--CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Older version of Jquery for expanding grid-->
    
    <!--LOCAL-->
   <!--  <script src="scripts/angular-carousel.min.js"></script>
    <script src="scripts/anguLike.js"></script> -->

    <!--CUSTOM CxC Scripts-->
    <script src="app/all.min.js"></script>  
    
    <!-- <script src="app/app.js"></script>
    <script src="app/services/ajaxInterceptorService.js"></script>
    <script src="app/services/categoryService.js"></script>
    <script src="app/services/contentState.js"></script>
    <script src="app/services/cxcService.js"></script>
    <script src="app/services/errorState.js"></script>
    <script src="app/services/pageService.js"></script>
    <script src="app/services/postService.js"></script>
    <script src="app/services/socialState.js"></script>

    <script src="app/directives/cxcCard.js"></script>
    <script src="app/directives/cxcBanner.js"></script>
    <script src="app/directives/cxcVideoBanner.js"></script>
    <script src="app/directives/cxcVideoCarousel.js"></script>
    <script src="app/directives/twitterStream.js"></script>
    <script src="app/directives/scrollEvent.js"></script>

    <script src="app/controllers/pageController.js"></script>
    <script src="app/controllers/galleryController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/postController.js"></script>
    <script src="app/controllers/galleriesController.js"></script> -->
    <!-- <script src="app/controllers/stagingController.js"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-29255089-2', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>