<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Social Crawler redirect" enabled="true" stopProcessing="true">
          <match url="^(.*)/(.*)/(.*)$" />
          <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_USER_AGENT}" pattern="facebookexternalhit/[0-9]" />
              <add input="{HTTP_USER_AGENT}" pattern="Twitterbot" />
              <add input="{HTTP_USER_AGENT}" pattern="Pinterest" />
              <add input="{HTTP_USER_AGENT}" pattern="Google.*snippet" />
          </conditions>
          <action type="Redirect" url="http://changeexchangepublish.co.za/{R:3}" />
        </rule>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="SPA">
            <match url=".*" />
            <action type="Rewrite" url="http://{HTTP_HOST}/{R:0}" />
        </rule>
        <!-- <rule name="Redirect to HTTP" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^ON$" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule> -->
      </rules> 
    </rewrite>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="20.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="DENY" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <!--<requestFiltering removeServerHeader="true" />-->
    </security>
  </system.webServer>
</configuration>