<div class="reduced-padding">
    <div class="cxc-card box-row box">
        <a data-ng-href="#/{{cxccontent.ID}}">
        <!--<a data-ng-href="/{{cxccontent.title}}">-->
            <div class="image-column col-lg-12">
                <div class="cxc-content-image box">
                    <img data-ng-src="{{cxccontent.featured_image.source}}" alt="Image of {{cxccontent.featured_image.title}}" />
                </div>
            </div>
            <div class="column content-copy">
                <div class="cxc-content-title">
                    <h5 data-ng-bind-html="cxccontent.title"></h5>
                </div>
                <div data-ng-bind-html="cxccontent.excerpt" class="box excerpt"></div>
            </div>
        </a>
    </div>
</div>


