<div class="cxc-banner row center-lg middle-lg" data-ng-click="testClick()"> 
    <img data-ng-src="{{cxcbannercontent.featured_image.source}}" alt="banner image for {{cxcbannercontent.featured_image.title}}">
    <div class="banner-video" ng-if="videoExists">
        <div class="play-button-container mobileonly">
            <a ng-click="contentState.data.mobileBannerVideoPlay = !contentState.data.mobileBannerVideoPlay" class="play mobile-play-button mobileonly" title="Play video" ng-class="{'play-active': contentState.data.mobileBannerVideoPlay}"></a>
        </div>
        <iframe class="desktoponly" data-ng-src="{{cxcbannercontent.excerpt}}" width="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <a ng-class="{'banner-link':cxcbannercontent.url}" ng-href="{{cxcbannercontent.url}}">
        <div class="banner-copy box">
            <div class="cxc-banner-title">
                <h1 data-ng-bind-html="cxcbannercontent.title"></h1>
                {{video}}
            </div>
            <div data-ng-bind-html="cxcbannercontent.content" class="box"></div>
        </div>
    </a>
    <div ng-if="videoExists" class="mobileonly mobile-banner-video">
        <div class="inner">
            <iframe ng-if="videoExists" data-ng-src="{{cxcbannercontent.excerpt}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>    
    </div>
</div>
