<div class="cxc-banner row center-lg middle-lg" data-ng-click="testClick()"> 
    <!--ng-style="{'background-image': 'url(' + cxcbannercontent.featured_image.source + ')'}"-->
    <img data-ng-src="{{cxcbannercontent.featured_image.source}}" alt="banner for {{cxcbannercontent.featured_image.title}}">
    <div class="banner-copy box">
        <div class="banner-overlay"></div>
        <div class="cxc-banner-title">
            <h1 data-ng-bind-html="cxcbannercontent.title"></h1>
        </div>
        <div data-ng-bind-html="cxcbannercontent.excerpt" class="box"></div>
    </div>
</div>
