<div  class="reduced-padding video-carousel-wrapper" ng-class="{'opacity-zero': test}">
    <div class="videoContainer" ng-click="testClick()" ng-style="singular ? {'background-image': 'url(' + cxcvideobannercontent.mobileUrl + ')'} : { 'background-image': 'url(' + cxcvideobannercontent.featured_image.source + ')'}">
        <cxc-video-carousel style="height: 100%; width: 100%;" singular='singular' cxcvideocarouselcontent="cxcvideobannercontent"></cxc-video-carousel>
    </div>
    <div ng-show="test && !singular"  class="videoContainer desktop-singular">
       <cxc-video-carousel singular='true' cxcvideocarouselcontent="cxcvideobannercontent"></cxc-video-carousel>
    </div>  
</div>