

<div class="reduced-padding">
    <div class="cxc-card box-row box">
        <a ng-href="#/{{cxccontent.ID}}">
            <div class="image-column col-lg-12">
                <div class="cxc-content-image box">
                    <img ng-src="{{cxccontent.featured_image.source}}">
                </div>
            </div>
            <div class="column content-copy">
                <div class="cxc-content-title">
                    <h5>{{cxccontent.title}}"</h5>
                </div>
                <div ng-bind-html="cxccontent.excerpt" class="box excerpt"></div>
            </div>
        </a>
    </div>
    <!--<div class="cxc-card column center-lg bottom-lg">
        <div class="card-inner col-large-12">
            <a ng-href="#/{{cxccontent.ID}}">
                <div class="image-column col-lg-12">
                    <div class="cxc-content-image box">
                        <img ng-src="{{cxccontent.featured_image.source}}">
                    </div>
                </div>
                <div class="content-copy">
                    <div class="cxc-content-title">
                        <h5>{{cxccontent.title}}"</h5>
                    </div>
                    <div ng-bind-html="cxccontent.excerpt" class="box"></div>
                </div>
            </a>
        </div>
    </div>-->
</div>


