<div class="row">
    <div id="post-container" class="column col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>{{contentState.data.post.title}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img ng-src="{{contentState.data.post.featured_image.source}}" />
            <div ng-bind-html="contentState.data.post.excerpt"></div>
            <div ng-bind-html="post"></div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <cxc-card class="col-xs-12 col-sm-12 col-md-4 col-lg-4'" ng-repeat="post in sameCategoryPosts | limitTo: 3" cxccontent="post"></cxc-card>
        </div>
    </div>
    <div id="sidebar" class="column col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <cxc-card class="col-xs-12 col-sm-12 col-md-12 col-lg-12'" ng-repeat="post in sameAuthorPosts | limitTo: 2" cxccontent="post"></cxc-card>
        </div>
    </div>
</div>
