<div class="post-container-parent row">
    <div class="post-container row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-canvas col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--<section class="article-hero">
                <img data-ng-src="{{contentState.data.post.featured_image.source}}" alt="Image for {{contentState.data.post.featured_image.title}}" />
            </section>-->
            <h3 data-ng-bind-html="contentState.data.post.title"></h3>
            <h5 ng-if="!changeAgentPost">By <a ng-click="contentState.getPostByName(contentState.data.post.author.name)" data-ng-bind-html="contentState.data.post.author.name"></a> </h5>
            
            <img ng-src="{{contentState.data.post.featured_image.source}}" />
            <div ng-bind-html="contentState.data.post.excerpt"></div>
            
            <div ng-bind-html="contentState.data.post.content"></div>  

            <div class="social-share-button" fb-like="myModel.Url"></div>
            <div class="social-share-button" tweet="myModel.Name" tweet-url="myModel.Url"></div>
            <div class="social-share-button" pin-it="myModel.Name" pin-it-image="myModel.ImageUrl" pin-it-url="myModel.Url"></div>
            <div class="social-share-button" google-plus="myModel.Url"></div>

            <!--<div><a ng-click="click()">Click</a></div>-->       
            <!--<div class="fb-like" ng-href="{{posturl}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> <!--<div ng-bind-html="facebooklikebutton"></div>-->  <!--ng-if="facebooklikebutton"-->
            <!--<br /><div ng-bind-html="facebooklikebutton"></div>-->
            <div ng-if="changeAgentPost" class="suggested-posts-category row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5 class="row recommended-post-message">Contributions by {{contentState.data.post.author.name}}</h5>
                <cxc-card class="col-xs-12 col-sm-6 col-md-4 col-lg-4'" ng-repeat="post in sameAuthorPosts" cxccontent="post"></cxc-card>
            </div>
        </div>
        <div ng-if="!changeAgentPost" id="sidebar" data-ng-class="socialState.data.videoPlayer ? 'no-margin-top column col-lg-3 col-md-12 col-sm-12 col-xs-12' : 'column col-lg-3 col-md-12 col-sm-12 col-xs-12'">
            <h5 class="recommended-post-message">{{recommendedMessageAuthor}}</h5>
            <div class="row box">
                <cxc-card class="col-xs-12 col-sm-6 col-md-12 col-lg-12'" ng-repeat="post in sameAuthorPosts | limitTo: 3" cxccontent="post"></cxc-card>
            </div>
        </div>
        <div class="suggested-posts-category row col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h5 class="row recommended-post-message">{{recommendedMessageCat}}</h5>
            <cxc-card class="col-xs-12 col-sm-6 col-md-4 col-lg-4'" ng-repeat="post in sameCategoryPosts | limitTo: 3" cxccontent="post"></cxc-card>
        </div>
    </div>
    <!--<script src="https://platform.instagram.com/en_US/embeds.js" async="" defer="defer"></script>-->
</div>
