<div  class="reduced-padding video-carousel-wrapper" ng-class="{'opacity-zero': test}">
    <div class="videoContainer" ng-style="singular ? {'background-image': 'url(' + cxcvideobannercontent.mobileUrl + ')'} : { 'background-image': 'url(' + cxcvideobannercontent.featured_image.source + ')'}">
        <cxc-video-carousel singular='singular' cxcvideocarouselcontent="cxcvideobannercontent"></cxc-video-carousel>
    </div>
    <div class="video-cta" ng-show="!singular" ng-click="testClick()">
        <div>{{cxcvideobannercontent.caption}}</div>
    </div>
    <div ng-show="test && !singular"  class="videoContainer desktop-singular desktoponly">
       <cxc-video-carousel singular='true' cxcvideocarouselcontent="cxcvideobannercontent"></cxc-video-carousel>
    </div>  
</div>