<div class="setContainer" ng-class="{'setContainerMultiple': !singular}">
    <ul rn-carousel rn-carousel-controls class="car-set-container col-lg-12 col-xs-12">
        <li class="videoSet" ng-repeat="set in contentCopy.videoArray" ng-class="{'singular': singular}">   
            <div ng-repeat="video in set" class="videoBox">
                <iframe class="" data-ng-src="{{video.cleanUrl}}" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="share-panel" ng-if="singular">
                <div class="social-share-button fb-button" fb-like="set[0].shareUrl"></div>
                <div class="social-share-button" tweet="myModel.Name" tweet-url="set[0].shareUrl"></div>
            </div>
        </li>
    </ul>
</div>