<!DOCTYPE html>
<html data-ng-app="cxcApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Change Exchange</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href="content/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body class="layout">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=481757868679120";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="cxc-content-wrap" data-ng-controller="indexController">
        <header  class="desktoponly">
            <figure class="header-image-left">
                <img src="content/images/Change Exchange Logo.png" />
            </figure>
            <select class="change-moment-select" ng-model="chosenMoment" ng-options="moment.title for moment in changeMoments" ng-change="selectedMoment(null)"></select>
            <figure class="header-image-right">
                <img src="content/images/BrightRock-Slab.png" />
            </figure>
            <h4>Its an <em>asking</em>, learning, <em>sharing</em>, changing space - packed with <em>tips</em> and tools to help you through, and even love, your life's greatest <em>Change Moments</em></h4>
        </header>
        <div id="layout">
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
                <!--<img src="content/images/Love-Change-badge.png" style="height:100%; width:100%" />-->
            </a>
            <div id="menu">            
                <div class="pure-menu">
                    <div id="menu-wrapper">
                        <a class="pure-menu-heading" ng-click="selectedMoment('all')">Change Moments</a>
                        <ul class="pure-menu-list">
                            <li ng-cloak class="pure-menu-item" ng-class="{ 'active': moment.active }" ng-repeat="moment in changeMoments"><a ng-click="selectedMoment(moment)" class="pure-menu-link">{{moment.title}}</a></li>
                            <!--<li class="pure-menu-item"><a ng-click="callForPosts('Landing that Job')" class="pure-menu-link">Landing that Job</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Making a Home')" class="pure-menu-link">Making a Home</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Starting a Family')" class="pure-menu-link">Starting a Family</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Tying the Knot')" class="pure-menu-link">Tying the Knot</a></li>-->
                        </ul>
                        <a class="pure-menu-heading" href="#">Exchange</a>
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="#/about" class="pure-menu-link">About</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Making a Home')" class="pure-menu-link">Events</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Tying the Knot')" class="pure-menu-link">Connection Sessions</a></li>
                            <li class="pure-menu-item"><a ng-click="callForPosts('Tying the Knot')" class="pure-menu-link">Galleries</a></li>
                            <li ng-cloak class="pure-menu-item" ng-repeat="cat in exchangeCategories | orderBy:'id'"><a href="#" class="pure-menu-link">{{cat.name}}</a></li>
                        </ul>
                        <img id="love-change-badge" src="content/images/Love-Change-badge.png" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="header mobileonly">
                    <h1>Page Title</h1>
                    <h2>A subtitle for your page goes here</h2>
                </div>
                <!--<div class="sb-contentContainer">-->
                <div data-ng-view="">

                </div>
                <!--</div>-->
            </div>
        </div>
    </div>

    <!-- 3RD PARTY libraries -->
    <!--CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

    <!--LOCAL-->
    <script src="scripts/pureNav.js"></script>
    <script src="scripts/angular-carousel.min.js"></script>

    <!--CUSTOM CxC Scripts-->
    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <!-- Load services -->
    <script src="app/services/categoryService.js"></script>
    <script src="app/services/contentState.js"></script>
    <script src="app/services/cxcService.js"></script>
    <script src="app/services/errorService.js"></script>
    <script src="app/services/pageService.js"></script>
    <script src="app/services/postService.js"></script>

    <!-- Load directives -->
    <script src="app/directives/cxcCard.js"></script>
    <script src="app/directives/cxcBanner.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/aboutController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/postController.js"></script>
</body>
</html>