<div class="post-container-parent row">
    <div class="post-container row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-canvas col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div ng-bind-html="contentState.data.page.content"></div>

            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <cxc-card class="col-xs-12 col-sm-12 col-md-4 col-lg-4'" ng-repeat="post in contentState.data.posts | limitTo: 3" cxccontent="post"></cxc-card>
            </div>
        </div>
    </div>
    <div id="sidebar" class="column col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <cxc-card class="col-xs-12 col-sm-12 col-md-12 col-lg-12'" ng-repeat="post in contentState.data.posts | limitTo: 2" cxccontent="post"></cxc-card>
        </div>
    </div>
</div>
