$true: 'true'; 
$false: null; 

$headerHeight: 30%; 
//$headerHeight: 10%; 
$sideNavWidth: 20%; 
$tabletNavWidth: 45%;
//$mobileSideNavWidth: 65%;
$mobileSideNavWidth: 80%;

$cardHeight: 280px;
//$bannerHeight: $cardHeight; 
$bannerHeight: 26%;

$mobileBannerHeight: $cardHeight/3;
$ipadBannerHeight: $mobileBannerHeight + 150px;
$iphone5BannerHeight: $mobileBannerHeight;
$iphone5LandscapeBannerHeight: $mobileBannerHeight + 50px;
$iphone6BannerHeight: $mobileBannerHeight;
$iphone6LandscapeBannerHeight: $mobileBannerHeight + 50px;

$padding: 0.2rem;
$borderRadius: 5px;

