@import '_colours.scss'; 

.video-carousel-wrapper {
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: space-between;
    position: relative;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0.2rem;
    // padding-bottom: 50%;
    // height: 50vw; 
    padding-right: 1.1rem;
    width: 100%;
    box-sizing: border-box;
    
}

.opacityZero{
    // opacity: 0; 
    // padding-bottom: 50%; 
}

.videoContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.9s; 
    width: 100%;
    height: 70vw; 
    padding: 2vh;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: black; 

    img{
        position: absolute; 
        width:100%; 
    }
    @include bp-desktop{
        height: 20vw;
    
    }
}
.videoContainer.desktop-singular{
    @include bp-desktop{
        height: 39vw; 
    }
}

.setContainer{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
    .videoSet{
        flex: 1; 
    }
}
.setContainerMultiple{
    @include bp-desktop{
        width: 90%;
        height: 75%; 
    }
}

// .videoSet {
//     display: flex !important; 
//     flex-flow: row nowrap; 
//     justify-content: space-between;
//     align-items: flex-start;
//     // @include bp-desktop{
        
//     // }
// }
.video-cta{
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    text-transform: uppercase; 
    color: white;
    cursor: pointer; 
    transition: .6s; 

    div{
        font-size: 24px;
    } 
    &:hover{
        background: $mustard-orange;
    }
}
.videoSet {
    display: flex !important; 
    flex-flow: column nowrap; 
    justify-content: center;
    align-items: center;
    height: 100% !important; 
    @include bp-desktop{
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: flex-start;
    }
}
.singular{
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.car-set-container{
    height: 85%;
    width: 100%;
}

.videoBox {
    z-index: 1;
    background: black;
    box-sizing: border-box;
    // margin: 2.5% 5%;
    flex: 1 1 auto;
    max-width: 75%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    @include bp-desktop{
        max-width: 33%;
        height: 100%;
    }
}

.singular{
    .videoBox {  
        max-width: 75%;
        width: 75%; 
        height: 100%;
    }
}

.share-panel{
    height: 15%;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    .social-share-button {
        margin-right: 5px;
    }
    .social-share-button.fb-button {
        margin-top: -8px;
    }
    @include bp-desktop {
        .social-share-button {
            transform: scale(1.5);
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -moz-transform: scale(1.5);
            transform-origin: center center;
            -ms-transform-origin: center center;
            -webkit-transform-origin: center center;
            -moz-transform-origin: center center;
            -webkit-transform-origin: center center;
            margin-right: 50px;
        }
        .social-share-button.fb-button {
            margin-top: -12px;
        }
    }
}


.fb-share-button
{
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    -moz-transform: scale(2.5);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}

